.modal {
  position: fixed;
  transition: visibility 0.3s linear 0.5s, opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  margin: auto;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  transition-delay: 0.3s;
  opacity: 1;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  padding-bottom: 54px;
  color: #000;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 36px;
  max-width: 430px;
}

.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__label {
  position: relative;
  width: 100%;
}

.modal__input {
  width: 100%;
  height: 27.26px;
  margin-bottom: 29.74px;
  box-sizing: border-box;
  padding-left: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__input:last-child {
  margin-bottom: 48px;
}

.modal__form {
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__button {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: url(../images/likehover.png), auto;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
}

.modal__image_container {
  margin: auto;
  position: relative;
}

.modal__image_description {
  position: absolute;
  color: white;
  margin: 0;
  top: calc(100% + 10px);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.modal__error {
  color: #ff0000;
  position: absolute;
  transition: opacity 0.3s;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  top: 29px;
}

.modal__button_disabled {
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #808080;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button_disabled:hover {
  opacity: 1;
  cursor: default;
}

.modal__button_disabled .modal__saved {
  color: #808080;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

#delete-card-modal .modal__button {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 46px;
}

#delete-card-modal .modal__container {
  min-width: 430px;
  max-height: 181px;
  display: flex;
  align-items: center;
  padding: 34px;
  margin-top: 270;
}

@media screen and (max-width: 320px) {
  .modal__close {
    max-width: 100%;
  }

  .modal__close {
    left: auto;
    height: 50px;
  }
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    width: 100%;
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }

  .modal__button {
    height: 46px;
    line-height: 17px;
    font-size: 14px;
  }

  .modal__input {
    line-height: 17px;
    font-size: 14px;
  }

  .modal__form {
    max-width: 100%;
  }
}
